<nav class="navigation">
    <ul class="address">
      <li><a href="http://localhost:3000/login"><i class="fa-solid fa-user"></i> User</a></li>
      <li><a href="http://localhost:3000/store"><i class="fa-solid fa-store"></i> Store</a></li>
      <li><a href="http://localhost:3000/product"><i class="fa-solid fa-pen"></i> Product</a></li>
    </ul>
</nav>
  