<header class="header">
  <form action="" method="post">
    <fieldset>
        <input type="text" placeholder="seeker">
    </fieldset>
     <button type="submit">seeker</button>
  </form>

  <h2><a href="http://localhost:3000/"> Clif</a></h2>
</header>
