<main class="content-form-user">
  
  <section class="section-page-form ">
    <h2>welcome</h2>
  </section>
  
  <form action="" method="post" class="form-user">
    <label for="name"> name </label>
    <input type="text" name="name" />

    <label for="last_name"> last name </label>
    <input type="text" name="last_name" />

    <label for="email"> email </label>
    <input type="email" name="email" />

    <label for="phone"> phone </label>
    <input type="tel" name="phone" /> <br />

    <button type="submit" class="button">send</button>
  </form>
</main>
