
<form action="" method="post" class="content-form">
    <fieldset class="form">
      <label for="name-product"><i class="fa-solid fa-screwdriver-wrench"></i></i></label>
      <input type="text" name="name-product" placeholder="name product" /><br />
  
      <label for="description"><i class="fa-solid fa-circle-info"></i></label>
      <input type="text" name="description" placeholder="description" /><br />
  
      <label for="type"><i class="fa-solid fa-tag"></i></label>
      <input type="email" name="type" placeholder="type" /><br />
  
      <label for="price"><i class="fa-solid fa-money-bill"></i></label>
      <input type="text" name="price" placeholder="price" /><br />
  
      <!-- <label for="img"><i class="fa-solid fa-file-arrow-up"></i></label>
      <input type="file" name="img">  Not putting this looks weird-->

    </fieldset>
    <button type="submit" class="button">
      <i class="fa-solid fa-circle-right"></i>
    </button>
  </form>
  