
<form action="" method="post" class="content-form">
    <fieldset class="form">
      <label for="name"> <i class="fa-solid fa-user"></i></label>
      <input type="text" name="name" placeholder="name" /><br />
    
      <label for="password"><i class="fa-solid fa-key"></i></i></label>
      <input type="password" name="password" placeholder="password" /><br />
  
    </fieldset>
  
    <button type="submit" class="button">
      <i class="fa-solid fa-circle-right"></i>
    </button>
     
    <button type="button" class="button-redirection">
      <a href="http://localhost:3000/record"><i class="fa-solid fa-user-plus"></i></a>
    </button>
     
</form>
  