
<form action="" method="post" class="content-form">
    
    <fieldset class="form">
      <label for="name-store"> <i class="fa-solid fa-user"></i></label>
      <input type="text" name="name-store" placeholder="name" /><br />
  
      <label for="address"><i class="fa-solid fa-user"></i></label>
      <input type="text" name="address" placeholder="last name" /><br />
  
      <label for="state-store"> <i class="fa-solid fa-envelope"></i></label>
      <input type="email" name="email" placeholder="email" /><br />
      </fieldset>
    
      <button type="submit" class="button">
      <i class="fa-solid fa-circle-right"></i>
    </button>
  </form>
  