
<form action="" method="post" class="content-form">
  <fieldset class="form-record">
    <label for="name"> <i class="fa-solid fa-user"></i></label>
    <input type="text" name="name" placeholder="name" /><br />

    <label for="last_name"><i class="fa-solid fa-user"></i></label>
    <input type="text" name="last_name" placeholder="last name" /><br />

    <label for="email"> <i class="fa-solid fa-envelope"></i></label>
    <input type="email" name="email" placeholder="email" /><br />

    <label for="phone"><i class="fa-solid fa-phone"></i></label>
    <input type="tel" name="phone" placeholder="phone" /><br />

    <label for="password"><i class="fa-solid fa-key"></i></label>
    <input type="password" name="password" placeholder="password" /><br />

    <label for="password"><i class="fa-solid fa-key"></i></i></label>
    <input type="password" name="password" placeholder="password" /><br />
  </fieldset>
  <button type="submit" class="button">
    <i class="fa-solid fa-circle-right"></i>
  </button>
</form>
